BOT_TOKEN=SEU_TOKEN
GUILD_ID=ID_SERVIDOR
CLIENT_ID=SEU_CLIENT_ID
CLIENT_SECRET=SEU_CLIENT_SECRET
REDIRECT_URL=http://localhost:3000/callback
PIX_NOME=ALENCAR ARTS
PIX_CHAVE=SUA_CHAVE_PIX
PIX_CIDADE=SALVADOR
PIX_EXPIRACAO_MINUTOS=15
PORT=3000
